<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./signInStyle.css">
</head>
<body>
    <div id='container'>
        <div id='leftBox'>
          <p>MY MEMORIES</p>
          <p class="mainText" style="margin-top: 3.2vw;"
          >반갑습니다!</p>
          <p class="mainText"><strong>MY MEMORIES</strong>에서</p>
          <p class="mainText" style="margin-bottom: 6vw;">추억을 기억해보세요.</p>
          <div id='linkBox'>
            <p style="color: #95969D; margin-right: 10px;">회원가입이 안되어있으신가요?</p>
            <p style="color: #1FB1F0;"><Link to="/signup">회원가입하기</Link></p>
          </div>
        </div>

        <div id='rightBox'>
            <p style="font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.4px;">로그인</p>
          <div id="idBox" style="margin-top: 40px;margin-bottom: 20px;">
            <p>아이디</p>
            <input type='text' placeholder='아이디를 입력하세요'></input>
          </div>
          <div id="pwBox" style="margin-bottom: 50px;">
            <p>비밀번호</p>
            <input type='text' placeholder='비밀번호를 입력하세요'></input>
          </div>
          <button id="signInBtn">로그인 하기</button>
        </div>
    </div>
</body>
</html>