/* styles.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top:30px;
    margin-left:30px;
    
  }
  .topBox{
    display:flex;
    justify-content: space-between;
    margin-top:6em;
  }
  .calendarList{
    display: flex;
    flex-direction: row;
    margin-left:100px;
    margin-top:5em;
  }
  
  .calendarItem{
    margin-right:1em;
  }

  .calendarList button{
    background-color: white;
    border:none;
  }
  
  .projectName{
    text-align:left;
    margin-left:100px;
    margin-bottom:50px;
  }
  .profile{
    text-align:right;
    margin-right:100px;
    margin-bottom:50px;
  }
  .date{
    margin-left:2em;
    margin-right:2em;
  }
  .optionBox{
    display:flex;
    flex-direction: row-reverse;
    margin-bottom:2em;
  }
  .optionBox button{
    border:none;
    background-color: white;
  }
  .option{
    margin-left:1em;
    margin-right:2em;
  }
  .calendar {
    max-width: 100%;
    margin: 20;
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:6em;
    padding: 10px;
    
  }
  #bottomBox{
    display:flex;
    justify-content: space-between;
    color:gray;
    margin-right:30px;
    margin-bottom:50px;

  }
  .university{
    text-align: left;
  }
  .header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .daysOfWeek {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(7, 10fr);
    text-align: center;
    font-weight: bold;
    
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding: 10px;
    background-color: #fff;
  }
  
  .calendarDay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* 크기 조정 */
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .emptyDay {
    height: 60px; /* 크기 조정 */
    border: 1px solid transparent;
  }
  
  /* 반응형 웹을 위한 미디어 쿼리 */
  @media screen and (max-width: 768px) {
    .calendar {
      max-width: 90%; /* 화면 크기에 따라 조정 */
    }
  }