.modalContainer {
    display: flex;
    align-items: flex-start;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 45%; /* 버튼 아래에 위치하도록 설정 */
    left: 108.3%;
    transform: translateX(-50%);
    z-index: 1000;
    gap: 1px; /* 요소 사이의 간격 조정 */
    margin-top: 10px; /* 위 아이템과의 간격 조정 */
  }

  .modalContent {
    width: 430px;
    min-height: 200px; /* 최소 높이 설정 */
    max-height: 80vh; /* 최대 높이 설정 */
    background: white;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 36px;
    gap: 10px;
  }

  .modalOverlay {
    background: rgba(0, 0, 0, 0);
  }

  .cancelButton {
    background: none;
    border: none; /* 테두리 없애기 */
    padding: 0;
    cursor: pointer;
    background: '#95969D';
    margin-left: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .modalContent p {
    color: 'black';
    width: 124px;
    height: 18px;
    font-size: 16px;
    font-family: 'Almarai';
    font-weight: 400px;
    word-wrap: 'break-word'
  }
  
.inviteContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.basicuserImage {
  width: 46px;
  height: 46px;
}

.emailInput {
  width: 63%;
  border: none;
  outline: none;
  padding: 5px;
  color: #95969D;
  font-size: 16px;
  font-family: 'Almarai';
  font-weight: 400;
  word-wrap: break-word;
}


.inviteButton {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  border: none;
  background-color: white;
}

.inviteButtonText {
  color: #17181A;
  font-size: 16px;
  font-family: 'Almarai';
  font-weight: 400;
  word-wrap: break-word;
}

.inviteButton:active {
  padding: 10px;
  background: #17181A;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inviteButton:active .inviteButtonText {
  color: #F6F7FB;
}

.userImage {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #95969D;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberName {
  color: #000;
  font-family: 'Almarai';
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

.memberEmail {
  color: #95969D;
  font-size: 16px;
  font-family: 'Almarai';
  font-weight: 400;
  word-wrap: break-word;
}