/* styles.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }
  
  .calendar {
    max-width: 100%;
    margin: 20;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }
  
  .header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .days-of-week {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(7, 10fr);
    text-align: center;
    font-weight: bold;
    
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding: 10px;
    background-color: #fff;
  }
  
  .calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* 크기 조정 */
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .empty-day {
    height: 60px; /* 크기 조정 */
    border: 1px solid transparent;
  }
  
  /* 반응형 웹을 위한 미디어 쿼리 */
  @media screen and (max-width: 768px) {
    .calendar {
      max-width: 90%; /* 화면 크기에 따라 조정 */
    }
  }